.input {
  border: 1px solid $primary-border-color;
  border-radius: 30px;
  padding: 12px 40px 12px 12px;
  width: 295px;
  height: 42px;
  font-family: $primary-font-family;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.8);

  @include media(tablet) {
    font-size: 16px;
    line-height: 1.25;
    width: 424px;
    height: 52px;
    padding: 16px 40px 16px 16px;
  }
}
