.input {
  border: 1px solid $primary-border-color;
  border-radius: 30px;
  padding: 12px 60px 12px 12px;
  width: 100%;
  height: 42px;
  font-family: $primary-font-family;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: $primary-input-color;
  outline: none;

  &:hover,
  &:focus {
    border-color: $primary-accent-color;
  }

  &::placeholder {
    color: $primary-placeholder-color;
  }

  @include media(mobile) {
  }

  @include media(tablet) {
    font-size: 16px;
    line-height: 1.25;
    width: 424px;
    height: 52px;
    padding: 16px 76px 16px 16px;
  }
}

.check {
  border-color: $valid-input-color;
  color: $primary-text-color;

  &:hover,
  &:focus {
    border-color: $valid-input-color;
  }
}

.error {
  border-color: $error-input-color;

  &:hover,
  &:focus {
    border-color: $error-input-color;
  }
}
