.petsItem {
  border: 1px solid rgba(38, 38, 38, 0.1);
  border-radius: 20px;
  padding: 12px 12px 16px 16px;
  display: flex;
  gap: 14px;

  @include media(tablet) {
    max-width: 305px;
  }

  @include media(desktop) {
    max-width: 440px;
    width: 440px;
    padding: 20px;
    gap: 25px;
  }
}

.imgWrapper {
  border-radius: 100px;
  padding-top: 4px;
}

.infoWrapper {
  flex-grow: 1;
}

.titleWrapper {
  display: flex;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  color: $secondary-text-color;
}

.deleteBtn {
  margin-left: auto;
}

.characteristicsList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @include media(desktop) {
    gap: 27px;
  }
}

.listItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.itemTitle {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: $primary-placeholder-color;
}

.itemText {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
}
