.list {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @include media(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include media(desktop) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
