.form {
  padding: 20px;
  border-radius: 30px;
  background-color: $secondary-accent-color;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include media(tablet) {
    margin-top: 44px;
    padding: 40px 32px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }
}

.searchLabel {
  @include media(tablet) {
    width: 265px;
  }
}

.input {
  background-color: $primary-white-color;
  color: $primary-text-color;

  &::placeholder {
    color: $primary-text-color;
  }

  @include media(tablet) {
    width: 265px;
    height: 48px;
  }
}

.categoryWrapper {
  display: flex;
  gap: 8px;

  @include media(tablet) {
    gap: 16px;
  }
}

.locationInput {
  background-color: $primary-white-color;
  color: $primary-text-color;

  &::placeholder {
    color: $primary-text-color;
  }
}

.fieldset {
  padding: 0;
  padding-top: 20px;
  margin: 0;
  margin-top: 8px;
  border: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border-top: 1px solid rgba(38, 38, 38, 0.1);

  @include media(tablet) {
    margin-top: 4px;
    width: 100%;
    gap: 8px;
  }
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.radioLabel {
  border-radius: 30px;
  padding: 12px;
  height: 42px;
  background-color: $primary-white-color;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  &:hover {
    background-color: $primary-accent-color;
    color: $primary-white-color;
  }

  // &:has(input:checked) {
  //   background-color: $primary-accent-color;
  //   color: $primary-white-color;
  // }

  @include media(tablet) {
    padding: 14px;
    font-size: 16px;
    height: 48px;
  }
}

.checked {
  background-color: $primary-accent-color;
  color: $primary-white-color;
}

.crossBtn {
  width: 18px;
  height: 18px;
}

.icon {
  stroke: $primary-white-color;
}
