.container {
  border-radius: 30px;
  background-color: $primary-white-color;
  padding: 40px 20px;
  position: relative;
  max-width: 335px;

  @include media(tablet) {
    max-width: 480px;
    padding: 50px;
  }
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: $secondary-text-color;
  margin-bottom: 20px;

  @include media(tablet) {
    font-size: 18px;
    line-height: 1.33333;
  }
}

.imgWrapper {
  text-align: center;
}

.img {
  border-radius: 100px;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;

  @include media(tablet) {
    width: 86px;
    height: 86px;
  }
}

.fileInputWrapper {
  display: flex;
  gap: 8px;
}

input.pathInput {
  padding: 13px 39px 13px 12px;
  width: 161px;
  height: 42px;

  @include media(tablet) {
    padding: 12px 20px 12px 12px;
    width: 226px;
  }
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.uploadBtn {
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: $secondary-text-color;
  background-color: $secondary-accent-color;
  border-radius: 30px;
  padding: 12px;
  max-width: 126px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  @include media(tablet) {
    padding: 12px 14px;
    max-width: 146px;
    font-size: 14px;
    line-height: 1.28571;
    font-weight: 500;
  }
}

.labelWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;

  @include media(tablet) {
    margin-bottom: 26px;
  }
}

input.input {
  @include media(tablet) {
    width: 100%;
  }
}

.errorContainer {
  min-height: 12px;
  margin-top: 2px;
  margin-bottom: 4px;
  padding-left: 12px;

  @include media(tablet) {
    min-height: 14px;
    margin-top: 4px;
    margin-bottom: 8px;
    padding-left: 16px;
  }
}

.error {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: $error-input-color;

  @include media(tablet) {
    font-size: 12px;
    line-height: 1.16667;
  }
}

.goToBtn {
  width: 100%;
  text-transform: none;
}
