$light-bg-color: #ffffff;
$grey-bg-color: #f9f9f9;
$primary-text-color: #262626;

$primary-black-color: #1f1b1a;
$primary-accent-color: #f6b83d;
$primary-hover-accent-color: #f9b020;
$primary-white-color: #ffffff;

$valid-input-color: #08aa83;
$error-input-color: #ef2447;
