.section {
  padding: 40px 0 80px 0;

  @include media(tablet) {
    padding: 32px 0 80px 0;
  }

  @include media(desktop) {
    flex-grow: 1;
    padding: 40px 0 64px 0;
    max-height: 1056px;
  }
}

.btnWrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;

  @include media(tablet) {
    gap: 8px;
  }

  @include media(desktop) {
    margin-top: 0;
    margin-bottom: 32px;
  }
}

.btn {
  font-weight: 500;
  line-height: 1.28571;
  color: $primary-text-color;
  background-color: $primary-white-color;
  padding: 12px;
  width: 130px;
  text-transform: none;

  &:hover {
    color: $primary-white-color;
  }

  @include media(tablet) {
    padding: 14px;
    font-size: 16px;
    line-height: 1.25;
    width: 150px;
  }

  @include media(desktop) {
    height: 48px;
  }
}

.option {
  color: $primary-white-color;
  background-color: $primary-accent-color;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include media(desktop) {
    gap: 24px;
    width: 664px;
  }
}

.textEmpty {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  margin-top: 60px;

  @include media(tablet) {
    margin-top: 160px;
    max-width: 458px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 1.25;
  }

  @include media(desktop) {
    margin-top: 148px;
  }
}

.span {
  font-weight: 700;
  color: $primary-accent-color;
}
