.btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cbcbcb;
  border-radius: 100%;

  &:disabled {
    cursor: not-allowed;
    opacity: 60%;
  }

  @include media(tablet) {
    width: 44px;
    height: 44px;
  }
}

.icon {
  width: 7px;
  height: 12px;

  @include media(tablet) {
    width: 8px;
    height: 14px;
  }
}
