.menuBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;

  @include media(tablet) {
    margin-left: 16px;
  }

  @include media(desktop) {
    display: none;
  }
}

.menuIcon {
  stroke: $primary-text-color;

  @include media(tablet) {
    width: 36px;
    height: 36px;
  }
}

.menuIconHome {
  stroke: $primary-white-color;

  @include media(tablet) {
    width: 36px;
    height: 36px;
  }
}
