.menuBtn {
  position: absolute;
  top: 28px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menuIcon {
  stroke: $primary-text-color;
}
