.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: auto;
}

.link {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 12px;
  width: 178px;
  height: 42px;
  text-align: center;
}

.login {
  composes: link;
  color: $primary-white-color;
  background: $primary-accent-color;
}

.register {
  composes: link;
  color: $primary-accent-color;
  background: $secondary-accent-color;
}
