.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: auto;

  @include media(tablet) {
    flex-direction: row;
    margin-left: auto;
  }
}

.navMenu {
  @include media(tablet) {
    margin-left: 0;
  }
}

.link {
  font-family: $primary-font-family;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 12px;
  width: 178px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(tablet) {
    font-size: 16px;
  }
}

.login {
  composes: link;
  color: $primary-white-color;
  background: $primary-accent-color;
  transition: all $animation-duration $animation-time-function;

  &:hover {
    background-color: $primary-hover-accent-color;
  }

  @include media(tablet) {
    width: 119px;
  }
}

.register {
  composes: link;
  color: $primary-accent-color;
  background: $secondary-accent-color;
  transition: all $animation-duration $animation-time-function;

  &:hover {
    background-color: $secondary-hover-accent-color;
  }

  @include media(tablet) {
    width: 149px;
    padding: 15px 20px;
  }
}

.loginHome {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.linkMenu {
  height: 42px;
}
