.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;

  @include media(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include media(desktop) {
    gap: 40px 31px;
  }
}
