.icon {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 38px;
  top: 50%;
  transform: translateY(-50%);

  @include media(tablet) {
    width: 22px;
    height: 22px;
    right: 50px;
  }
}
