.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: auto;

  @include media(tablet) {
  }

  @include media(desktop) {
    flex-direction: row;
    margin-left: auto;
  }
}

.link {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: $primary-text-color;
  padding: 15px 21px;
  background-color: transparent;
  border: 1px solid $primary-border-color;
  border-radius: 30px;
  width: 119px;
  height: 50px;
  text-align: center;
  transition: all $animation-duration $animation-time-function;

  &:hover {
    border-color: $primary-accent-color;
  }
}

.active {
  border-color: $primary-accent-color;
}

.linkHome {
  border-color: rgba(255, 255, 255, 0.4);
  color: $primary-white-color;

  &:hover {
    color: $primary-accent-color;
    background-color: #fff4df;
  }
}

.linkMenu {
  height: 48px;
}
