.avatarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;

  @include media(tablet) {
    margin-bottom: 20px;
    margin-top: -38px;
  }
}

.icon {
  @include media(tablet) {
    width: 110px;
    height: 110px;
  }
}

.avatarImg {
  border-radius: 100px;

  @include media(tablet) {
    width: 110px;
    height: 110px;
  }
}

.btn {
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-weight: 500;
  transition: all $animation-duration $animation-time-function;

  &:hover {
    color: $primary-accent-color;
  }

  @include media(tablet) {
    font-size: 14px;
    line-height: 1.28571;
  }
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 20px;
  color: $secondary-text-color;

  @include media(tablet) {
    font-size: 18px;
    line-height: 1.33333;
  }
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include media(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include media(desktop) {
    gap: 14px;
  }
}

.infoText {
  border: 1px solid $primary-accent-color;
  border-radius: 30px;
  padding: 12px;
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;

  @include media(tablet) {
    padding: 16px;
    width: 305px;
    height: 52px;
  }

  @include media(desktop) {
    width: 100%;
  }
}
